@import "tailwindcss";

@theme {
  --color-brand-blue: #0C112C;
  --color-brand-sand: #EEEBE6;
  --color-brand-light: #FAFAFA;
  --color-brand-muted: #DAD7D0;
  --color-brand-dark: #242323;
  --color-brand-green: #233117;
  --color-brand-action: #116DFF;

  --font-heading: "futura-lt-w01-book", "Futura", sans-serif;
  --font-body: "futura-lt-w01-light", "Futura", sans-serif;
  --font-serif: "eb garamond", serif;

  --background: var(--color-brand-sand);
  --foreground: var(--color-brand-blue);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-brand-blue font-normal;
  }
}

